html {
	border:none;
} 
*{
}


body {
	border:none;
	overflow-x:hidden;
	color:white;
	background: linear-gradient(to left, #8e2de2, #4a00e0);
}
#mv-container-bg-control,#mv-container {
	width:100%;height:100%;
	position:fixed;
	left:0;top:0;
	z-index:2000;
	display:none;
	align-items:center;
	justify-content:center;
}


.mvideo {
	opacity:1;
	z-index:2100;
}
.mv-tip {
	position:absolute;
	top:20%;
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
	background: linear-gradient(to right, #f2994a, #f2c94c);
	color:white;
	border-radius:10000000px;
	padding:5px 20px 5px 20px;
	font-size:14px;
	cursor:pointer;
}
.mv-loading {
	font-family: 'Luckiest Guy', cursive;
	text-transform:uppercase;
  background: linear-gradient(to right, #e52d27, #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:transparent;
	font-size:26px;
	-webkit-background-clip:text;
	width:fit-content;
	letter-spacing:3px;
}






#title-card, #main-bg-ctrl, .single{
  background: linear-gradient(to top right, #8e2de2, #4a00e0);
}
.wesing, .save, .mv, .ed {
	cursor:pointer;
}







#title-card {
	width:100%;
	height:300px;
	position:absolute;
	top:0;left:0;

	align-items:center;
	justify-content:center;
	display:flex;

	font-size:38px;
	font-weight:900;
	text-transform:uppercase;
	border:none;

}
#title-card .text{
	width:fit-content;
	height:fit-content;
	font-family: 'Sniglet', cursive;
}
#title-card span {
	font-size:16px;
	font-weight:400;
	text-transform:capitalize;
}












#main-height-ctrl {
	width:100%;
	height:;
	position:absolute;
	top:299px;left:0;
}
#main-bg-ctrl {
	width:100%;
	height:fit-content;
	position:absolute;
	top:0;left:0;
	padding-bottom:45px;
	padding-top:12px;
}
.single {
	padding:35px 35px 35px 35px;
	margin:30px 27px 0 27px;
	box-shadow:0 5px 15px #9966CC;
	transition:.5s;
}
.single:hover {
	transform:translateY(-20px);
	transition:.5s;
}



@media only screen and (min-width: 1020px) {
#main {
	width:973px;
	height:fit-content;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.single {
	width:200px;
	height:fit-content;
	position:relative;

	float:left;
}
}
@media only screen and (max-width: 1020px) and (min-width: 694px) {
#main {
	width:655px;
	height:fit-content;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.single {
	width:200px;
	height:fit-content;
	position:relative;

	float:left;
}
}
@media only screen and (max-width: 694px) {
#main {
	width:100%;
	height:fit-content;
	position:relative;
}
.single {
	width:200px;
	height:fit-content;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:65px;
}
}









.album{
	width:200px;
	height:200px;
	border-radius:10000000000000000000px;
	background-size:cover;
	opacity:.8;
	margin-bottom:20px;
}
.album:hover {
	width:200px;
	height:200px;
	border-radius:10000000000000000000px;
	background-size:cover;
	opacity:1;
	cursor:pointer;
}
.album-playing {
	animation: 9.5s linear 0s normal none infinite rotate;
}
@keyframes rotate{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}
#demo-1 {
	background-image:url("http://img2.kuwo.cn/star/albumcover/240/32/88/1806712793.jpg");
	}
#demo-2 {
	background-image:url("https://i.kfs.io/album/tw/5445138,0v1/fit/500x500.jpg");
	}
#demo-3 {
	background-image:url("https://images-na.ssl-images-amazon.com/images/I/51cnP9ki24L._SS500.jpg");
	}
#demo-4 {
	background-image:url("http://img.mp.itc.cn/upload/20170727/5e8faf323cab448ca49d63c169661274_th.jpg");
	}
#demo-5 {
	background-image:url("https://gss1.bdstatic.com/9vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=bde2afcf92dda144da096bb48a8cb79f/a50f4bfbfbedab64b27a461cf236afc378311ee5.jpg");
	}








.single .title {
	text-transform:capitalize;
	color:white;
	font-size:28px;
	font-family: 'Luckiest Guy', cursive;
	height:50px;
}
.single .wesing {
	width:fit-content;
	padding:4px 8px 4px 8px;
	margin:4px auto 4px auto;
	border-radius:1000000000px;
  	background: linear-gradient(to right, #ff9966, #ff5e62);
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	float:left;

}
.single .wesing:hover {
  	background: linear-gradient(to left, #ff9966, #ff5e62);
}
.single span {
	width:5px;
	display:inline-block;
}
.single .listened {
	margin:4px auto 4px auto;
	padding:4px 8px 4px 8px;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	text-transform: capitalize;

}
.single .orginal,
.single .in-album,
.single .duration,
.single .published-on {
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	text-transform:capitalize;

}
.single a {
	width:fit-content;
	padding:4px 8px 4px 8px;
	margin:8px 6px 0 auto;
	border-radius:1000000000px;
	background: white;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	float:left;
	text-transform:capitalize;
	text-decoration:none;
}
.single a:hover {
	background: whitesmoke;
}
.single .na {
	display:none;
}
.single .badge {
	width:fit-content;
	position:absolute;
	top:0;right:0;
	padding:3px 15px 3px 15px;
  	background: linear-gradient(to left, #ff9966, #ff5e62);
	box-shadow:0 2px 25px #ff9966;
	text-transform: capitalize;
	border-radius:15px 5px 15px 5px;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;

}















#footer {
	width:100%;
	display:inline-block;
	text-align:center;
	margin:100px auto auto auto;
	font-family: 'Sniglet', cursive;

}